<?php 

// Konfigurasi database kamu
define('DB_HOST', 'localhost'); // Host databasemu
define('DB_USER', 'root'); // 
define('DB_PASS', null);
define('DB_NAME', 'your_database');

// URL website ROOT kamu
// Gunakan "/" diakhir URLmu
define('BASE_URL', 'http://www.yourdomain.com/');

?>